{% if site.data.pubs.preprint.size > 0 %}
## <span class="lang-en">Preprints</span><span class="lang-zh">预印本</span>

{% for pub in site.data.pubs.preprint %}
{% include publication-card.html pub=pub show_venue_info=false %}
{% endfor %}
{% endif %}

{% if site.data.pubs.journal.size > 0 %}
## <span class="lang-en">Journal Papers</span><span class="lang-zh">期刊论文</span>

{% for pub in site.data.pubs.journal %}
{% include publication-card.html pub=pub show_venue_info=true %}
{% endfor %}
{% endif %}

{% if site.data.pubs.conference.size > 0 %}
## <span class="lang-en">Conference Papers</span><span class="lang-zh">会议论文</span>

{% for pub in site.data.pubs.conference %}
{% include publication-card.html pub=pub show_venue_info=true %}
{% endfor %}
{% endif %}

{% if site.data.pubs.patent.size > 0 %}
## <span class="lang-en">Patents</span><span class="lang-zh">专利</span>

{% for pat in site.data.pubs.patent %}
- _{{ pat.date }}_, {{ pat.number }}, **{{ pat.title }}**, &ensp;{{ pat.authors }}.
{% endfor %}
{% endif %}
